.btn-blue-1 {
    background-color: #2D88D4;
    color: #fff;
    border: 0.5px solid #A7A7A7;
    width: 248px;
    height: 42px;
}

.text-blue {
    color: #2D88D4;
    cursor: pointer;
    font-weight: bold;
}

.text-blue:hover {
    color: #1c6bb0;
}

.text-blue-2 {
    color: #2D88D4;
    font-size: 16px;
    font-weight: bold;
}

.text-blue-2:hover {
    color: #1c6bb0;
}

.input-1 {
    border: 0.5px solid #A7A7A7;
    width: 248px;
    height: 42px;
}

.login-form-body {
    width: 512px;
    height: 382px;
    background: #fff;
}

.login-page {
    background: #FCFAFA;
}

.sidebar-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    overflow-y: auto;
    padding: 20px 0;
    background: #152259;

}

.nav-link {
    margin-top: 8px;
    width: 80%
}

.nav-link.active {
    background: #509CDB;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .sidebar-custom {
        position: fixed;
        top: 0;
        left: 0;
        width: 180px;
        height: 100vh;
        overflow-y: auto;
        padding: 18px 0;
        background: #152259;

    }

    .nav-link {
        font-size: 0.875rem;
    }

    .sidebar-nav-icon {
        width: 20px;
        height: 20px;
    }

    .sidebar-nav-title {
        font-size: 0.875rem;
    }
}

@media (max-width: 576px) {
    .nav-link {
        font-size: 0.75rem;
        flex-direction: column;
        text-align: center;
    }

    .sidebar-nav-icon {
        width: 18px;
        height: 18px;
    }

    .sidebar-nav-title {
        font-size: 0.75rem;
        margin-left: 0;
    }
}

.sidebar-nav-icon {
    width: 16px;
    height: 16px;
}

.roboto-font {
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
}

.sidebar-logo {
    margin-top: 26px;
}

.logo {
    width: 65px;
    height: 65px;
}

.divider {
    width: 100%;
    height: 100%;
    border: 0.5px solid #BDBDBD;
    margin-top: 27px;
}

.logout-btn {
    background-color: #2D88D4;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #1c6bb0;
}

.navbar-custom {
    height: 95px;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-content-1,
.navbar-content-2 {
    display: flex;
    align-items: center;
}

.navbar-content-1 {
    justify-content: flex-start;
}

.navbar-content-2 {
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .navbar-custom {
        height: 95px;
    }
}

@media (max-width: 576px) {
    .navbar-custom {
        height: 80px;
    }

    .teacher-avatar {
        width: 175px;
        height: 200px;
    }
}

.text-1 {
    color: #424242;
}

.welcome-title {
    color: var(--Grey-400, #4F4F4F);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ele-icon {
    padding: 8px;
    background: #EFF3FA;
    border-radius: 8px;
}

.ele-title {
    font-size: 24px;
}

.ele-sub-title {
    font-size: 14px;
}

.btn-support {
    background: #152259;
    border-radius: 30px;
    font-size: 14px;
    color: #fff;
    width: 181px;
    height: 60px;
    flex-shrink: 0;
}

.no-teachers {
    background: #FCFAFA;
    width: 952px;
    height: 419px;
    flex-shrink: 0;
}

.no-teacher-title {
    color: #4F4F4F;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

.no-teacher-sub-title {
    font-size: 14px;
    text-align: center;
}

.table tbody tr td {
    color: #4F4F4F;
}

.table tbody tr:nth-child(even) {
    background-color: #EBF6FF;
    border: #C4C4C4;
}

/* Container của từng tin nhắn */
.message-container {
    display: flex;
    margin: 10px 0;
    padding: 5px;
}

/* Tin nhắn của người dùng sẽ căn phải */
.message-right {
    justify-content: flex-end;
}

/* Tin nhắn của người khác sẽ căn trái */
.message-left {
    justify-content: flex-start;
}

/* Phong cách của từng tin nhắn */
.message-bubble {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

/* Tin nhắn của người dùng */
.message-right .message-bubble {
    background-color: #9a97fd;
    border-radius: 15px 15px 0px 15px;
    text-align: right;
}

/* Tin nhắn của người khác */
.message-left .message-bubble {
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 0px;
    text-align: left;
}

/* Đổi màu cho nút "Vắng" */
.absent-button {
    color: #ff4d4f !important;
    border-color: #ff4d4f !important;
}

.absent-button:hover,
.absent-button:active {
    border-color: #ff7875 !important;
    color: #ff4d4f !important;
}

.absent-button.ant-radio-button-wrapper-checked {
    background-color: #ff7875;
    border-color: #ff7875 !important;
    color: white !important;
}

/* Đổi màu cho nút "Có mặt" */
.present-button {
    color: #4caf50 !important;
    border-color: #4caf50 !important;
}

.present-button:hover,
.present-button:active {
    border-color: #66bb6a !important;
    color: #4caf50 !important;
}

.present-button.ant-radio-button-wrapper-checked {
    background-color: #66bb6a;
    border-color: #66bb6a !important;
    color: white !important;
}

.custom-calendar .ant-picker-cell {
    height: 20px;
}

.custom-calendar .ant-picker-cell-inner {
    font-size: 12px;
}

.route-report-card-container {
    max-height: 700px;
    overflow-y: scroll;
    padding-right: 8px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.route-report-card-container::-webkit-scrollbar {
    display: none;
}